In [1]:
# importing libraries 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# reading the data 
df1 = pd.read_csv('GTD.csv' , encoding = 'latin1')

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_6072\2118319152.py:2: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('GTD.csv' , encoding = 'latin1')

In [4]:
# head of the given dataset 
df1.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [8]:
# after checking the data set we taking the worth columns from given data set 
# and rename them in readable and meanigfull Name .
df1.rename(columns= {'eventid':'Attack_id','iyear':'Year', 'imonth':'Month', 'iday':'Day','country_txt':'Country' ,'region_txt':'region_name','provstate':'State','attacktype1_txt':'attacktype','targtype1_txt':'Target_type','gname':'Group_Name','motive':'Motive','nkill':'kills','nwound':'Wounded','propcomment':'damage_&_loss'},inplace= True)

In [9]:
# createing the dataset as we fillterd 
df1 = df1 [['Attack_id','Year', 'Month', 'Day', 'Country','State','region','region_name','longitude','latitude' ,'attacktype', 'Target_type', 'Group_Name', 'Motive','summary','Wounded', 'kills', 'damage_&_loss']]

In [10]:
df1.shape

(181691, 18)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Attack_id      181691 non-null  int64
 1   Year           181691 non-null  int64
 2   Month          181691 non-null  int64
 3   Day            181691 non-null  int64
 4   Country        181691 non-null  object
 5   State          181270 non-null  object
 6   region         181691 non-null  int64
 7   region_name    181691 non-null  object
 8   longitude      177134 non-null  float64
 9   latitude       177135 non-null  float64
 10  attacktype     181691 non-null  object
 11  Target_type    181691 non-null  object
 12  Group_Name     181691 non-null  object
 13  Motive         50561 non-null   object
 14  summary        115562 non-null  object
 15  Wounded        165380 non-null  float64
 16  kills          171378 non-null  float64
 17  damage_&_loss  57959 non-null   object
dtypes: float64(4), int64(5), object(9)
memory usage: 25.0+ MB